<div class="d-flex team-vs" style="margin-top: 50px;">
    <button class="btn btn-danger" (click)="delete(player.id)">Delete</button>
    
    <div class="team-1 w-50">
      <div class="team-details w-100 text-center">
        <img src="assets/images/logo_1.png" alt="Image" class="img-fluid">
        <h3>{{player.name}}<span></span></h3>
        <h3>{{player.number}}<span></span></h3>
        <h3>{{player.position}}<span></span></h3>
        <h3>{{player.team}}</h3>
    

      </div>
    </div>
   
    
  </div>
 