<app-banner [name]="'Login Page'"></app-banner>
  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <form #loginForm="ngForm" (ngSubmit)="login()">
           
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email" >
              </div>
              <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="password">
              </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary py-3 px-5"  >Login</button>
            </div>
          </form>  
        </div>
        
      </div>
    </div>
  </div>

